<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will Kleman - Fall 2024 Portfolio</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom Stylesheet -->
    <!-- Adjust the path based on the folder structure -->
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body>

  
    <div id="navbar-container"></div>

 
    <div class="container text-center mt-5">
        <h1>Will Kleman</h1>
        <p>I am a senior at Villanova University majoring in Economics and minoring in Computer Science. 
           This is my portfolio displaying my Fall 2024 schedule and hobbies. I'm from Landenberg, Pennsylvania, and I have 2 dogs named Ace and Raven. 
           I enjoy watching football and playing the electric guitar.
        </p>
        
       
        <img src="../../resources/img/portrait.jpg" alt="My Photo" class="img-fluid border border-dark" width="200">

  
        <p><a href="https://www1.villanova.edu/university/liberal-arts-sciences/programs/computingsciences.html" target="_blank">Link to Villanova Computing Sciences Department</a></p>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Navbar Script -->
    <script src="../../resources/js/navbar.js"></script> <!-- Adjust the path to match the folder structure -->
    <script>
       
        window.onload = function() {
            loadNavbar();  
        }
    </script>

</body>
</html>
