<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will Kleman - Hobbies</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
  
    <link rel="stylesheet" href="../../Resources/CSS/style.css">
</head>
<body class="bg-light">

    <!-- Bootstrap Navigation Bar -->
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../Homepage/index.html">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarBasic">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../Schedule/schedule.html">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hobbies.html">Hobbies</a> <!-- Already on this page -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hobbies Section -->
    <div class="container mt-5">
        <h2>My Hobbies</h2>
        <div class="row">
            <!-- Hobby 1: Guitar -->
            <div class="col-md-3">
                <div class="card">
                   <img src="/Resources/IMG/guitar.png" class="card-img-top" alt="Guitar">
                    <div class="card-body">
                        <h5 class="card-title">Playing Guitar</h5>
                        <p class="card-text">I love playing electric guitar in my free time. My favorite bands are The Smashing Pumpkins and Led Zeppelin.</p>
                    </div>
                </div>
            </div>
            <!-- Hobby 2: Soccer -->
            <div class="col-md-3">
                <div class="card">
                    <img src="../../Resources/IMG/soccer.png" class="card-img-top" alt="Soccer">
                    <div class="card-body">
                        <h5 class="card-title">Soccer</h5>
                        <p class="card-text">I enjoy playing soccer and I played centerback in High School.</p>
                    </div>
                </div>
            </div>
            <!-- Hobby 3: Movies -->
            <div class="col-md-4">
                <div class="card">
                    <img src="../../Resources/IMG/movies.png" class="card-img-top" alt="Movies">
                    <div class="card-body">
                        <h5 class="card-title">Watching Movies</h5>
                        <p class="card-text">I love watching movies with my family and girlfriend. I love Harry Potter and Star Wars as well as the Marvel Movies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <!-- Hobby 4: Writing -->
            <div class="col-md-4">
                <div class="card">
                    <img src="../../Resources/IMG/writing.png" class="card-img-top" alt="Writing">
                    <div class="card-body">
                        <h5 class="card-title">Creative Writing</h5>
                        <p class="card-text">I enjoy writing in my free time and hope to one day publish a book!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

